In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [59]:
#url='http://pokemondb.net/pokedex/all'
url = 'https://pokemondb.net/pokedex/game/sword-shield'
page = requests.get(url)
doc = lh.fromstring(page.content)
span_elements = doc.xpath('//span')
#tr_elements = doc.xpath('//tr')

In [66]:
#[len(T) for T in tr_elements[:12]]
[len(T) for T in span_elements[:50]]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5,
 1,
 5]

In [62]:
col = []
i = 0

#for t in tr_elements[0]:
for t in span_elements[9]:
    i+=1
    name=t.text_content()
    print('%d: "%s"'%(i,name))
    col.append((name,[]))

1: "#001"
2: ""
3: "Grookey"
4: ""
5: "Grass"

In [63]:
#for j in range(1, len(tr_elements)):
for j in range(1, len(span_elements)):
#    T = tr_elements[j]
    T = span_elements[j]
    if len(T) != 5:
        pass
    
    i = 0
    
    for t in T.iterchildren():
        data=t.text_content()
        if i > 0:
            try:
                data = int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [64]:
[len(C) for (title,C) in col]

[0, 0, 0, 0, 0]

In [57]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [65]:
col

[('#001', []), ('', []), ('Grookey', []), ('', []), ('Grass', [])]

In [3]:
url='https://www.dexerto.com/pokemon/pokemon-sword-and-shield-spawn-locations-guide-1287933'

page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [40]:
[len(T) for T in tr_elements[247:250]]

[4, 4, 4]

In [39]:
del tr_elements[248]

In [41]:
col = []
i = 0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d: "%s"'%(i,name))
    col.append((name,[]))

1: "Pokedex #"
2: "Pokemon"
3: "Overworld"
4: "Non-Overworld"

In [42]:
for j in range(1, len(tr_elements)):
    T = tr_elements[j]
    if len(T) != 4:
        break    
    i = 0
    
    for t in T.iterchildren():
        data=t.text_content()
        if i > 0:
            try:
                data = int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [43]:
Dict={title:column for (title,column) in col}
df_location=pd.DataFrame(Dict)

In [44]:
df_location.head()

  Pokedex #    Pokemon         Overworld Non-Overworld
0         1    Grookey           Starter
1         2   Thwackey    Evolve Grookey
2         3  Rillaboom   Evolve Thwacket
3         4  Scorbunny           Starter
4         5     Raboot  Evolve Scorbunny

In [45]:
len(df_location)

399

In [46]:
df_location

    Pokedex #    Pokemon         Overworld Non-Overworld
0           1    Grookey           Starter
1           2   Thwackey    Evolve Grookey
2           3  Rillaboom   Evolve Thwacket
3           4  Scorbunny           Starter
4           5     Raboot  Evolve Scorbunny
..        ...        ...               ...           ...
394       396   Drakloak   Lake of Outrage             -
395       397  Dragapult   Evolve Drakloak             -
396       398     Zacian         Legendary             -
397       399  Zamazenta         Legendary             -
398       400  Eternatus         Legendary             -

[399 rows x 4 columns]

In [48]:
d = {'Pokedex #': [248], 'Pokemon': ['Throh'], 'Overworld': ["Motostoke Outskirts, Bridge Field, Giant's Mirror"], 'Non-Overworld': [""]}
throh_df = pd.DataFrame(data=d)
throh_df

,Pokedex #,Pokemon,Overworld,Non-Overworld
0,248,Throh,"Motostoke Outskirts, Bridge Field, Giant's Mirror",

In [49]:
location_df = df_location.append(throh_df)